#trzy, #trzy li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#trzy {
	float: left;
	background-color: #fff;
	padding: 1px 0 1px 1px;
	border: 1px solid #000;
}

#trzy li {
	float: left;
}

#trzy a:link, #trzy a:visited {
	text-decoration: none;
	display: block;
	font-weight: bold;
	background: #000 url("tlo.gif") repeat-x center;
	color: #fff;
	padding: 10px 20px;
	border-right: 1px solid #fff;
	border-right: 1px solid #fff;
}

#trzy a:hover {
	color: black;
	background-color: #800;
	background-image: url("tlo2.gif");
}