#piec, #piec li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#piec {
	float: left;
	width: 100%;
	border-bottom: 1px solid #365;
	padding-left: 20px;
}

#piec li {
	float: left;
	margin-right: 5px;
}

#piec a:link, #piec a:visited {
	text-decoration: none;
	display: block;
	font-weight: bold;
	background: url("ogien.gif") no-repeat right top;
	color: yellow;
	padding: 5px 15px 5px 5px;
	margin-left: 10px;
}

#piec a:hover {
	color: white;
}